<div class="row novo-post">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input  id="first_name" type="text" class="validate">
        <label for="first_name">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="" id="mensagem" type="text" class="validate">
        <label for="mensagem">Mensagem</label>
      </div>
    </div>
  </form>
  <a class="waves-effect waves-light btn botao">Postar</a>
</div>